*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
}

.navbar {
    // Pin header to top and set width to viewport width
    position: fixed;
    top: 0;
    // Sizing
    width: 100%;
    padding: 0.5em 0;
    // Set contents to display flex
    display: flex;
    justify-content: flex-end;
    // Styling
    background-color: #92e5a1;
    font-size: 1rem;

    &__list {
        // Sizing
        min-width: calc(100% / 2);
        // Set contents to display flex
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Styling
        list-style: none;

        &__link {
            // Sizing
            padding: 0.5em 0.5em;
            // Styling
            color: #020204;
            text-decoration: none;

            &:hover {
                background-color: #020204;
                color: #92e5a1;
                font-style: bold;
            }

            &:active {
                background-color: #22b455;
            }
        }
    }
}

.card {
    // Sizing
    height: 100vh;
    padding: 4em;
    // Styling
    background-color: #020204;
    color: #22b455;
    border: 1px solid #22b455;
    letter-spacing: 0.5em;

    &__title {
        font-size: 5rem;

        &--large {
            font-size: 6rem;
        }
    }

    &__role {
        font-size: 3rem;
        text-align: center;
    }

    &__para {
        font-size: 1.5rem;
        margin-top: 1em;
        letter-spacing: 0.1em;
        line-height: 1.5;
    }
}

.projects {
    // Sizing
    height: 80%;
    margin-top: 2em;
    // Set contents to flex
    display: flex;
    justify-content: center;
    align-items: center;
    // Styling
    letter-spacing: normal;

    &__card {
        // Sizing
        height: 100%;
        width: 100%;
        // Set contents to flex
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // Styling
        border: 5px solid #22b455;
        background-color: #92e5a1;
        color: #020204;
    }

    &__image {
        height: 80%;
        width: 50%;
        object-fit: contain;
    }

    &__caption {
        height: 80%;
        width: 50%;
        padding: 0 2em;
        overflow-y: scroll;
    }

    &__title {
        font-size: 2rem;
        text-align: right;
    }

    &__link-container {
        display: flex;
        justify-content: flex-start;
    }

    &__link {
        // Sizing
        width: 5em;
        margin-top: 1em;
        margin-right: 1em;
        padding: 0.2em;
        // Set display to flex
        display: flex;
        justify-content: space-between;
        //Styling
        border: 2px solid #020204;
        color: #020204;
        border-radius: 1em;
        font-size: 1.2rem;
        text-decoration: none;

        &:hover,
        &__svg:hover {
            background-color: #020204;
            color: #92e5a1;
            font-style: bold;
            fill: #92e5a1;
        }

        &:active,
        &__svg:active {
            background-color: #22b455;
            fill: #92e5a1;
        }
    }

    &__para {
        font-size: 1.5rem;
        margin-top: 1em;
        line-height: 1.5;
        text-align: justify;
        text-justify: auto;
    }
}

.skills {
    // Sizing
    height: 80%;
    margin-top: 2em;
    // Set contents to flex
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__circle {
        // Sizing
        padding: 1em;
        width: calc(100vw / 7);
        height: calc(100vw / 7);
        // Set contents to flex and center
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Styling
        background-color: #92e5a1;
        border-radius: 100%;

        &__para {
            // border: 1px solid black;
            color: #020204;
            font-size: calc(100vw / 60);
            font-style: bold;
            letter-spacing: normal;
        }
    }
}

.contact {
    // Sizing
    height: 80%;
    // Set contents to flex
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__link {
        // Sizing
        width: calc(100vw / 5);
        height: calc(100vw / 5);
        // Set contents to flex and center
        display: flex;
        justify-content: center;
        align-items: center;
        // Styling
        background-color: #92e5a1;
        font-size: 2rem;
        border-radius: 100%;
        border: none;
    }

    &__link:hover {
        border: 0.6em solid #22b455;
    }
}

.footer {
    // Fix footer to bottom of view
    position: fixed;
    bottom: 0;
    // Sizing
    width: 100%;
    padding: 0.5em 0;
    // Styling
    background-color: #92e5a1;
    color: #020204;
    text-align: center;
}
