* {
    background: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
}

.navbar {
    // Pin header to top and set width to viewport width
    position: fixed;
    top: 0;
    // Sizing
    width: 100%;
    padding: 0.5em 0;
    // Set contents to display flex
    display: flex;
    justify-content: flex-end;
    // Styling
    background-color: #92e5a1;
    font-size: 1rem;

    &__list {
        // Sizing
        min-width: calc(100% / 2);
        // Set contents to display flex
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Styling
        list-style: none;

        &__link {
            // Sizing
            padding: 0.5em 0.5em;
            // Styling
            color: #020204;
            text-decoration: none;
        }

        &__link:hover {
            background-color: #020204;
            color: #92e5a1;
            font-style: bold;
            text-decoration: none;
        }

        &__link:active {
            background-color: #22b455;
        }
    }
}

.card {
    // Sizing
    height: 85vh;
    padding: 4em;
    // Styling
    background-color: #020204;
    color: #22b455;
    border: 1px solid #22b455;
    letter-spacing: 0.5em;

    &__title {
        font-size: 5rem;

        &--large {
            font-size: 6rem;
        }
    }

    &__role {
        font-size: 3rem;
        text-align: center;
    }

    &__para {
        letter-spacing: 0.2em;
    }
}

.skills {
    // Sizing
    height: 80%;
    margin-top: 2em;
    // Set contents to flex
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &__circle {
        // Sizing
        padding: 1em;
        width: calc(100vw / 9);
        height: calc(100vw / 9);
        // Set contents to flex and center
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Styling
        background-color: #92e5a1;
        border-radius: 100%;

        &__para {
            // border: 1px solid black;
            color: #020204;
            font-size: 100%;
            font-style: bold;
            letter-spacing: normal;
        }
    }
}

.contact {
    // Sizing
    height: 80%;
    // Set contents to flex
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__link {
        // Sizing
        width: calc(100vw / 5);
        height: calc(100vw / 5);
        // Set contents to flex and center
        display: flex;
        justify-content: center;
        align-items: center;
        // Styling
        background-color: #92e5a1;
        font-size: 2rem;
        border-radius: 100%;
        border: none;
    }

    &__link:hover {
        box-sizing: border-box;
        border: 0.6em solid #22b455;
    }
}

.footer {
    // Fix footer to bottom of view
    position: fixed;
    bottom: 0;
    // Sizing
    width: 100%;
    padding: 0.5em 0;
    // Styling
    background-color: #92e5a1;
    color: #020204;
    text-align: center;
}
