*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  justify-content: flex-end;
  background-color: #92e5a1;
  font-size: 1rem;
}
.navbar__list {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navbar__list__link {
  padding: 0.5em 0.5em;
  color: #020204;
  text-decoration: none;
}
.navbar__list__link:hover {
  background-color: #020204;
  color: #92e5a1;
  font-style: bold;
  text-decoration: none;
}
.navbar__list__link:active {
  background-color: #22b455;
}

.card {
  height: 100vh;
  padding: 4em;
  background-color: #020204;
  color: #22b455;
  border: 1px solid #22b455;
  letter-spacing: 0.5em;
}
.card__title {
  font-size: 5rem;
}
.card__title--large {
  font-size: 6rem;
}
.card__role {
  font-size: 3rem;
  text-align: center;
}
.card__para {
  letter-spacing: 0.2em;
}

.skills {
  height: 80%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.skills__circle {
  padding: 1em;
  width: 14.2857142857vw;
  height: 14.2857142857vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #92e5a1;
  border-radius: 100%;
}
.skills__circle__para {
  color: #020204;
  font-size: 1.6666666667vw;
  font-style: bold;
  letter-spacing: normal;
}

.contact {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact__link {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #92e5a1;
  font-size: 2rem;
  border-radius: 100%;
  border: none;
}
.contact__link:hover {
  border: 0.6em solid #22b455;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  background-color: #92e5a1;
  color: #020204;
  text-align: center;
}
