* {
    background: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    // Pin header to top and set width to viewport width
    position: fixed;
    top: 0;
    // Sizing
    width: 100vw;
    padding: 0.5em 0;
    // Set contents to display flex
    display: flex;
    justify-content: flex-end;
    // Styling
    background-color: #92e5a1;
    font-size: 1rem;

    &__list {
        // Sizing
        min-width: calc(100% / 2);
        // Set contents to display flex
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Styling
        list-style: none;

        &__link {
            // Sizing
            padding: 0.5em 0.5em;
            // Styling
            color: #020204;
            text-decoration: none;
        }

        &__link:hover {
            background-color: #020204;
            color: #92e5a1;
            font-style: bold;
            text-decoration: none;
        }

        &__link:active {
            background-color: #22b455;
        }
    }
}

.card {
    // Sizing
    height: 85vh;
    padding: 4em;
    // Styling
    background-color: #020204;
    color: #22b455;
    border: 1px solid #22b455;
    letter-spacing: 0.5em;

    &__title {
        font-size: 5rem;

        &--large {
            font-size: 6rem;
        }
    }

    &__role {
        font-size: 3rem;
        text-align: center;
    }

    &__para {
        letter-spacing: 0.2em;
    }
}

.footer {
    // Fix footer to bottom of view
    position: fixed;
    bottom: 0;
    // Sizing
    width: 100vw;
    padding: 0.5em 0;
    // Styling
    background-color: #92e5a1;
    color: #020204;
    text-align: center;
}
